include CHANGELOG
include LICENSE
include README.rst
recursive-include impose *.txt *.md *.ui
recursive-include docs *.py *.md *.txt *.rst *.bib *.gif *.jpg
recursive-include tests *.zip *.md *.py *.txt
recursive-include tests/data *
prune docs/_build
exclude docs/_version_save.py
